
    body {

}

p {
  font-family:sans-serif;
  text-align:center;
}

#logo {
	margin:0 35% 0 35%;
	width:30%;
	height:auto;
  background:#000000;
}

#logo img {
	width:100%;
	height:auto;
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	
}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px hsla(120, 60%, 100%, 0.9));
}
    
    
  
        img.darker {
  transition: all 0.2s ease-in-out;
}

img.darker:hover {
  filter: brightness(50%);
}
       
body 
    {
    background-color: black;
}
    
    
        #footer {
            zoom: 1.5;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: black;
			color: white;
			text-align: center;
			padding: 0px;
		}
        
ul#menu li {
  display:inline;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

