body {
    background-color: #1a1a1a;
    background-image: url('../goofy/stars.gif');
    background-size: auto;
    background-repeat: repeat;
}
.wholeSite {
}
.topBracket .rat {
    position: absolute;
    width: 4%;
    height: 4%;
    margin-left: 300px;
    
}
.topBracket .rat2 {
    position: absolute;
    width: 4%;
    height: 4%;
    margin-left: -375px;
    
}
table {
    display: table;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
     /* Fonts */
    text-indent: initial;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    text-decoration: underline;
    font-family: Arial;
    font-variant: normal;
    color: red;
    /* Border */
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.RandomImage {
    margin-top: 20px;
}
.RandomImage .zekkikanis {
    width: 40%;
    height: 15%;
}
.hrOne {
    margin-top: 35%;
}
.underHr {
    color: red;
    font-family: Arial;
    font-size: 16px;
}
.zekkiType .zonkiText {
    margin-top: -40px;
    width: 54%;
    height: 20%;
}
/* CENTERPIECES */
.centerPieces .images .zekkiFeet {
    position: absolute;
    opacity: 80%;
    margin-left: -800px;
    margin-top: -40px;
    width: 400px;
    height: 500px;
    outline: 8px solid rgba(28, 28, 28, 0.75);
}
.centerPieces .images .zekkiChad {
    position: absolute;
    opacity: 80%;
    margin-left: 400px;
    margin-top: -40px;
    width: 400px;
    height: 500px;
    outline: 8px solid rgba(28, 28, 28, 0.75);
}
.centerPieces .images .zekkiPasta {
    width: 35%;
    height: 35%;
    font-size: 20px;
    font-family: serif;
   color: gold;
}

/*.centerPieces .images .videoOne {
    opacity: 80%;
    position: absolute;
    border: 5px solid #1f1f1f;
    margin-left: -800px;
    margin-top: -320px;
}*/


